* {
    box-sizing: border-box;
}

body {
    padding: 20px;
}

h1 {
    margin: 0;
}

.mainpage-content-opener {
    width: 100%;
    height: 40vh;
    border: none;
    border-radius: 1rem;
    font-size: 2em;
    transition: 500ms;
}

#main-page-buttons {
    z-index: -1;
}

#mainpage-about-button {
    background-color: #f48a1f;
    border: 2px solid #f48a1f;
}

#mainpage-about-button:hover {
    border: 3px solid #ffdcb7;
}

#mainpage-projects-button {
    background-color: #53a0f7;
    border: 2px solid #53a0f7;
}

#mainpage-projects-button:hover {
    border: 3px solid #bbd3ff;
}

#mainpage-skills-button {
    background-color: #ff3030;
    border: 2px solid #ff3030;
}

#mainpage-skills-button:hover {
    border: 3px solid #ffaeb7;
}

#mainpage-contact-button {
    background-color: #04c341;
    border: 2px solid #04c341;
}

#mainpage-contact-button:hover {
    border: 3px solid #c6ffd5;
}